.App {
  text-align: center;
}


body {background-color: antiquewhite;}

.customNav {
  width: 100%;
}



.myCards  {height: 40rem; background-color: #282c34;}
.myCards img {height: 30rem;}
.myCards h4 {color: white;}

